.nav {
  color: wheat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}


li a {
  color: white;
}

li a:hover {
  background-color: #111111;
}
.nav ul {
  display: flex;
}
.nav ul li {
  padding: 10px;
}